<div class="container">
<section class="registration_area">
  <div class="registration_area__formbox">


      <h2>パスワード再設定</h2>
      <div class="field_box">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'inputarea' %>
            </div>

            <div class="actions">
              <%= f.submit "再設定方法を登録したメールに送る", class: "submit_btn" %>
               <%= link_to "戻る", "/", type: "submit", class: "forgot_pass" %>
            </div>
          <% end %>
      </div>
</div>
</section>
</div>