 <body>
 <div class="container">
  <section>

    <%# <div class="searchbox_area">
        <form class="searchbox" action="">
        <input type="search"><i class="fa fa-search"></i>
        </form>
    </div> %>

    <div class="search_form_area">
    <%= search_form_for @q do |f|%>
        <%= f.search_field :title_cont, class: "search_form_area-input" %>
        <%= button_tag sanitize('<i class="fa fa-search"></i>'), type: 'submit', class: "search_form_area-submit" %>
    <% end %>
    </div>
     
    
  <table>
        <thead>
            <tr>
                <th scope="col">タイトル</th>
                <th scope="col">観た日</th>
            </tr>
        </thead>
        <tbody>
        <% if user_signed_in? && current_user.id == @product_user_id %>
          
            <% if @search.any? %>
                <%= render  @search %>
             <% elsif %>
                <div class="no_result_area">
                <p class="result_text">該当する作品はありません</p>
                </div>
             <% else %>
                <% @products.each do |product| %>
                <%= render partial: "product", locals: { product: product } %>
                <% end %> 
            <% end %>
        <% end %>
        </tbody>
    </table>   
    <div class="kaminari_box">
    <%= paginate @products %>
    </div>
  </section>
</div>
</body>
</html>