<!DOCTYPE html>
<html>
  <head>
    <title>MITAYO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
        <div class="##">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a class="##" href="###">投稿する</a>
        </div>
      <% else %>
        <div class="##">
          <%= link_to "ログイン", new_user_session_path, class: '##' %>
          <%= link_to "新規登録", new_user_registration_path, class: '##' %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
